.page-drawer
  .drawer-placeholder
  aside.mdc-drawer.drawer-body.mdc-elevation--z4
    .drawer-header.flex-column.flex-evenly
      //- img.drawer-header--bgImg(src=theme.drawerBgImg)
      .drawer-header--content.flex-column.flex-cross-center
        img.drawer-avatar(src=theme.avatarImg)
        .drawer-userName #{config.author}
        .drawer-totals.flex-row.flex-cross-center
          div.flex.flex-column.flex-center
            div.drawer-totals--label 文章
            div.drawer-totals--value 共#{site.posts.length}篇
          div.flex.flex-column.flex-center
            div.drawer-totals--label 标签
            div.drawer-totals--value 共#{site.tags.length}个
          div.flex.flex-column.flex-center#busuanzi_container_site_pv
            div.drawer-totals--label(style="text-align:center") 总访问
            div.drawer-totals--value(style="text-align:center")
              span#busuanzi_value_site_pv
              span 次
    .drawer-content
      .drawer-list
        a.drawer-list-item.flex-row.flex-cross-center.materialRipple.materialRipple--dark.com-pointer(href='/')
          i.list-item--icon.material-icons home
          span.list-item--title 首页
        a.drawer-list-item.flex-row.flex-cross-center.materialRipple.materialRipple--dark.com-pointer(href='/2020/08/24/日常/再次启程')
          i.list-item--icon.material-icons info
          span.list-item--title 关于博客   
        a.drawer-list-item.flex-row.flex-cross-center.materialRipple.materialRipple--dark.com-pointer(href='https://github.com/koharubiyori')
          i.mdi-set.mdi-github(style="font-size:24px; color:var(--mdc-theme-primary); line-height:1.1")
          span.list-item--title Github
        a.drawer-list-item.flex-row.flex-cross-center.materialRipple.materialRipple--dark.com-pointer(href='https://zh.moegirl.org.cn/User:%E6%9D%B1%E6%9D%B1%E5%90%9B')
          strong(style="font-size:18px; color:var(--mdc-theme-primary); margin-left:3px") 萌
          span.list-item--title 萌娘百科