.page-post
  != css('styles/post')
  .prevNextArticle.flex-row.flex-between
    if page.prev
      a.prevArticle.materialRipple.materialRipple--dark.mdc-elevation--z2.flex(href=`/${page.prev.path}`)
        div.label 上一篇
        div.title.com-textLimit #{page.prev.title}
    else 
      div
    if page.next
      a.nextArticle.materialRipple.materialRipple--dark.mdc-elevation--z2.flex(href=`/${page.next.path}`)
        div.label 下一篇
        div.title.com-textLimit #{page.next.title}
    else 
      div
  .post-header
    h2.post-header--title #{page.title}
    .post-header--row.com-onlyDesktop
      .post-header--infoBox(style="background-color:#007FFF")
        i.material-icons watch_later
        span #{page.date.format('YYYY年MM月DD日')}
      .post-header--infoBox(style="background-color:#04B431")
        i.material-icons menu_book
        span #{`总字数：${wordcount(page.content)}`}
      .post-header--infoBox(style="background-color:#B40486")
        i.material-icons access_alarm
        span #{`预计阅读时间：${min2read(page.content, { cn: 100, en: 50 })}分钟`}
    .post-header--row.post-header--tags(style="justify-content:flex-start; margin-top:10px")
      each tag in page.tags.data
        a.post-header--tag(href=`/${tag.path}` title=`查看“${tag.name}”标签下的文章`)
          i.material-icons local_offer
          span #{tag.name}
  .post-body.mdc-elevation--z2
    img.post-body--headImg(src=page.image)
    .post-body--content
      div.contentContainer !{page.content}
      .articleLicenses
        p 版权声明：本文为原创文章，版权归 小春日和 所有
        p(style="word-break:break-all")
          span 文章链接：
          a#articleLink(href="javascript:void()" aria-describedby="tooltip-copyArticleLink") #{decodeURIComponent(page.permalink)}
        p
          span 所有原创文章采用&nbsp;
          a(target="_blank" href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh") 署名-非商业性使用 4.0 国际 (CC BY-NC 4.0)
        p 您可以自由转载和修改，但必须保证在显著位置注明文章来源，且不能用于商业目的。
        <div id="tooltip-copyArticleLink" class="mdc-tooltip" role="tooltip" aria-hidden="true">
          <div class="mdc-tooltip__surface">
            lorem 点击复制链接
          </div>
        </div>